net reset loc = B18;
net clock loc = B8;
net sw[7] loc = R17;
net sw[6] loc = N17;
net sw[5] loc = L13;
net sw[4] loc = L14;
net sw[3] loc = K17;
net sw[2] loc = K18;
net sw[1] loc = H18;
net sw[0] loc = G18;
net out_seg[7] loc = L18;
net out_seg[6] loc = F18;
net out_seg[5] loc = D17;
net out_seg[4] loc = D16;
net out_seg[3] loc = G14;
net out_seg[2] loc = J17;
net out_seg[1] loc = H14;
net out_seg[0] loc = C17;
net out_sel[3] loc = F15;
net out_sel[2] loc = C18;
net out_sel[1] loc = H17;
net out_sel[0] loc = F17;